*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    background-color: #000000;
}
.cebian{
    width: 250px;
    height: 100%;
    margin-right: 70px;
    border-right: solid 1px #88898b;
}
.cebian ul>li>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cebian ul>li{
    width: 200px;
    height: 50px;
    margin-left: 20px;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
}
.cebian ul>li:hover{
    width: 200px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
    display: block;
    background-color:#232527;
   transition: 1s linear 0s;
    
}
.cebian ul>li span{
    line-height: 50px;
    position: absolute;
    color: rgb(110, 110, 110);
    padding-left: 20px;
}
/* .znm{
    width: 800px;
    height: 300px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    background-color: #17181a;
    left: max(40vw ,250px);
} */
.znm {
    width: 800px;
    height: 15vw;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    background-color: #17181a;
    left: max(40vw ,250px);
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #17181a;
    align-items: center;

}
.znm ul li{ 
    width: min(50vw,500px);
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}
.znm ul img {
    flex: 1;
    border-radius: 50%;
}
.znm ul .a1{
    color: red;
   
}
/* .znm1{
    width: 800px;
    height: 300px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: max(15vw,300px);
    background-color: #17181a;
    left: max(40vw ,250px);
} */
.znm1 {
    width: 800px;
    height: 15vw;
    color: rgb(255, 255, 255);
    position: absolute;
    top: max(15vw,300px);
    background-color: #17181a;
    left: max(40vw ,250px);
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #17181a;
    align-items: center;
}
.znm1 ul li{ 
    width: min(50vw,500px);
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}
.znm1 ul img {
    flex: 1;
}
.znm1 ul .a1{
    color: red;
}
/* .znm2{
    width: 800px;
    height: 300px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: max(30vw,600px);
    background-color: #17181a;
    left: max(40vw ,250px);
} */
.znm2 {
    width: 800px;
    height: 15vw;
    color: rgb(255, 255, 255);
    position: absolute;
    top: max(30vw,600px);
    background-color: #17181a;
    left: max(40vw ,250px);
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #17181a;
    align-items: center;
}
.znm2 ul li{ 
    width: min(50vw,500px);
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;

}
.znm2 ul img {
    flex: 1;
}
.znm2 ul .a1{
    color: red;
}
.box1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}